/*--------------------------------------------------------------
# Site CSS includes UIKit 3
# Reference https://getuikit.com/docs/sass
--------------------------------------------------------------*/

// 1. Your custom variables and variable overwrites.
@import "scss/_import-variables.scss";

// 2. Import default variables and available mixins.
@import "lib/uikit/src/scss/variables.scss";
@import "lib/uikit/src/scss/mixins.scss";

// 3. Your custom mixin overwrites.
@import "scss/_import-mixins";

// 4. Import UIkit
@import "lib/uikit/src/scss/uikit.scss";

// 5. Quick Inline Hacks

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

main#main-content {
    min-height: 100vh;
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 100px;
}
footer#colophon {
    margin-top: -100px;
}
/* 
Text meant only for screen readers. 
@see https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
*/
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;

    &:focus {
        background-color: #eee;
        clip: auto !important;
        clip-path: none;
        color: #444;
        display: block;
        font-size: 1em;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}